# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/

# Database
*.db
*.sqlite3

# Node / React
node_modules/
frontend/build/
frontend/.env
.DS_Store
npm-debug.log*

# spaCy / ML models
*.bin
*.pkl
*.joblib

# IDE
.vscode/
.idea/
*.swp
